.square {
  width: 20rem;
  height: 20rem;
  border: none;
  border-radius: 0;
}

.square:hover {
  cursor: pointer;
  box-shadow: 0 0 1.6rem #3BB99B;
}

.square[disabled] {
  cursor: unset;
  box-shadow: none;
}