#gameTitle {
  height: 140px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
}

#gameTitle h1 {
  font-size: 100px;
  color: transparent;
  -webkit-text-stroke: 6px #3BB99B;
}