#gameTitle {
  height: 140px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
}

#gameTitle h1 {
  font-size: 100px;
  color: #333;
  -webkit-text-stroke: 6px #3BB99B;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #3BB99B,
    0 0 60px #3BB99B;
}