#gameTitle {
  height: 14rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 4rem;
}

#gameTitle h1 {
  font-size: 10rem;
  color: #333;
  -webkit-text-stroke: .6rem #3BB99B;
  text-shadow:
    0 0 1rem #fff,
    0 0 2rem #fff,
    0 0 4rem #3BB99B,
    0 0 6rem #3BB99B;
}