#gameGrid {
  display: grid;
  gap: 2rem;
  justify-items: center;
  justify-content: center;
}

.red {
  background-color: red;
  grid-column: 1;
  grid-row: 1;
}

.white {
  background-color: white;
  grid-column: 2;
  grid-row: 1;
}

.blue {
  background-color: blue;
  grid-column: 3;
  grid-row: 1;
}

.light-blue {
  background-color: turquoise;
  grid-column: 1;
  grid-row: 2;
}

.green {
  background-color: green;
  grid-column: 2;
  grid-row: 2;
}

.purple {
  background-color: purple;
  grid-column: 3;
  grid-row: 2;
}

.yellow {
  background-color: yellow;
  grid-column: 1;
  grid-row: 3;
}

.gray {
  background-color: gray;
  grid-column: 2;
  grid-row: 3;
}

.orange {
  background-color: orange;
  grid-column: 3;
  grid-row: 3;
}

#start-btn {
  background-color: #FFFFFF;
  border: none;
  padding: 2rem 3rem;
  border-radius: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #3BB99B;
  transition: all ease-in-out .2s;
  grid-column: 4 / -1;
}

#start-btn:hover {
  box-shadow: 0 0 1.6rem #3BB99B;
  background-color: #3BB99B;
  color: white;
  cursor: pointer;
}

#start-btn:disabled {
  opacity: 0.5;
}

#start-btn:disabled:hover {
  box-shadow: none;
  background-color: #FFFFFF;
  color: #3BB99B;;
  cursor: initial;
}