* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out .2s;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.8);
  color: #3BB99B;
}

#App {
  width: 100vw;
  height: 100vh;
}

button:focus {
  outline: none;
  border: none;
}

@media only screen and (max-width: 675px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 525px) {
  html {
    font-size: 7px;
  }

  #start-btn {
    padding: 4rem 6rem;
    font-size: 3.5rem;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 455px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (max-width: 380px) {
  html {
    font-size: 5px;
  }
}

@media only screen and (max-width: 225px) {
  html {
    font-size: 4px;
  }
}
