#gameResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameResults h2 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 6rem;
  margin-top: 15rem;
}

#gameResults button {
  font-size: 5rem;
  font-weight: 700;
  border-radius: 0;
  background-color: #fff;
  color: #3BB99B;
  border: 0;
  padding: 2rem 3rem;
}

#gameResults button:hover {
  box-shadow: 0 0 1.6rem #3BB99B;
  background-color: #3BB99B;
  color: white;
  cursor: pointer;
}
